/* safari chrome */
html::-webkit-scrollbar{
    display:none;
}
html {
    /*IE・Edge*/
    -ms-overflow-style: none;
    /*Firefox*/
    scrollbar-width: none;
}
body {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    color : #3f3732;
    background-color : #ede9e5;
}
main {
    margin: 0.2em 30% 1em 1em;
}
a {
    text-decoration: none;
    color: inherit;
}
.caption {
    font-size: 0.8em;
}
.pdf_title {
    color: #3a597d;
    border-bottom: dashed 1px #3a597d;
    text-shadow: #d6cac2 0.5px 0 2px;
}
.category_of_subdocument {
    font-size: 1em;
}
.category_of_document {
    font-size: 1.2em;
    padding: 0px 0px 0px 8px;
    box-shadow: -3px 0px;
}
.url_link {
    color: #9d4a4a;
    font-family: 'Courier',sans-serif;
    border-bottom: dashed 1px #9d4a4a;
    text-shadow: rgb(198, 183, 183) 1px 0 2px;
}
.url_link_github {
    color: #6d4b74;
    font-family: 'Courier',sans-serif;
    border-bottom: dashed 1px #6d4b74;
    text-shadow: rgb(194, 194, 194) 1px 0 2px;
}
.quotion {
    font-size:x-small;
}