<div>
    <span class="category_of_document">便利なリンク集</span>
    <ul>
        <li>数学</li>
        <ul>
            <li>
                代数幾何
            </li>
            <ul>
                <li>
                    <a class="url_link" href="https://webusers.imj-prg.fr/~leila.schneps/grothendieckcircle/pubtexts.php" target="_blank" rel="noopener noreferrer">https://webusers.imj-prg.fr/~leila.schneps/grothendieckcircle/pubtexts.php</a>
                    <p class="caption">
                    EGAやSGAなどのGrothendieckの著作が纏まっているページ。Grothendieckは生前、彼自身の著作をインターネット上から削除して欲しいとの旨の手紙を友人に宛てているが、思うにGrothendieckの著作が多くの人に届くことの価値は矢張り大きい。
                    実際、Grothendieck Circleの方針としても、以下のような記述がある："The long-term goal of the Grothendieck Circle is to make publicly available, and in some cases translate, published and unpublished material written by and about Alexandre Grothendieck, as well as original biographical material and documents. We welcome all spontaneous contributions (of which there have already been many), and hope this site will continue expanding over time."
                    <span class="quotion">(引用;<a class="url_link" href="https://webusers.imj-prg.fr/~leila.schneps/grothendieckcircle/" target="_blank" rel="noopener noreferrer">https://webusers.imj-prg.fr/~leila.schneps/grothendieckcircle/</a>)</span>.
                    つまりGrothendieck Circleのメンバーは、商用利用のためにGrothendieckの著作を公開しているわけではなく、単に彼の著作を世に広めることを目的として活動しており、Grothendieck個人の意志よりも、数学の発展と、彼の著作の教育的価値を重要視したのである。
                    Grothendieckの著作の出版は、彼の意向に反しているとはいえ、代数幾何を勉強する者にとってかなり有益であるため、有り難く読ませて頂くことにする。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://stacks.math.columbia.edu/browse" target="_blank" rel="noopener noreferrer">https://stacks.math.columbia.edu/browse</a>
                    <p class="caption">
                        Stacks Projectという、スキーム論の基礎が大体載っているwebサイト。恐らく通読するものではない。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://github.com/ryankeleti/ega" target="_blank" rel="noopener noreferrer">https://github.com/ryankeleti/ega</a>
                    <p class="caption">
                        EGAを英訳しているプロジェクト。フランス語の解釈に困ったときに便利。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://staff.aist.go.jp/t-yanagisawa/activity/ega0.html" target="_blank" rel="noopener noreferrer">https://staff.aist.go.jp/t-yanagisawa/activity/ega0.html</a>
                    <p class="caption">
                        EGAを日本語訳しているプロジェクト。フランス語の解釈に困ったときに便利。ただ、訳されている量が少ないので、あまり参考にはならないかも。
                    </p>
                </li>
            </ul>
            <li>
                圏論
            </li>
            <ul>
                <li>
                    <a class="url_link" href="https://alg-d.com/math/kan_extension/" target="_blank" rel="noopener noreferrer">https://alg-d.com/math/kan_extension/</a>
                    <p class="caption">
                        壱大整域。圏論の基礎が纏まったwebサイト。圏論をやっていると現れる様々な概念を、Kan拡張を用いて構成的に記述している。面白い。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://ziphil.com/mathematics/mathematics-diary/" target="_blank" rel="noopener noreferrer">https://ziphil.com/mathematics/mathematics-diary/</a>
                    <p class="caption">
                        Avendiaというサイト。数理論理学と圏論にまつわる話が載っている。Grothendieck位相に関する記事もある。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://ncatlab.org/nlab/show/category+theory" target="_blank" rel="noopener noreferrer">https://ncatlab.org/nlab/show/category+theory</a>
                    <p class="caption">
                        nLabというサイト。圏論のことなら大抵書いてある。
                    </p>
                </li>
            </ul>
        </ul>
        <li>
            プログラミング関連
        </li>
        <ul>
            <li>
                web開発
            </li>
            <ul>
                <li>
                    <a class="url_link" href="https://saruwakakun.com" target="_blank" rel="noopener noreferrer">https://saruwakakun.com</a>
                    <p class="caption">
                        サルワカ。CSSの説明がわかりやすい。
                    </p>
                </li>
                <li>
                    <a class="url_link" href="https://saruwakakun.com/font-family" target="_blank" rel="noopener noreferrer">https://saruwakakun.com/font-family</a>
                    <p class="caption">
                        サルワカのfont-family maker。フォントを設定するときに便利。
                    </p>
                </li>
            </ul>
        </ul>
        <li>
            言語
        </li>
        <ul>
            <li>
                <a class="url_link" href="https://www.oed.com" target="_blank" rel="noopener noreferrer">https://www.oed.com</a>
                <p class="caption">
                    Oxford English Dictionary. 九大のアカウントでアクセスすれば使える。各単語に対して結構詳しい解説がついている。
                </p>
            </li>
        </ul>
    </ul>
</div>