<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <title>文書棚</title>
</head>
<body>
    <div id="main">
        $preface$
        <div class="page_link">
            <span><a href="subpages/seminar_notes.html">ゼミのノート</a></span>
        </div>
        <p class="caption">ゼミの発表用に書いたメモを載せていくページです。</p>
        <div class="page_link">
            <span><a href="subpages/memo.html">備忘録</a></span>
        </div>
        <p class="caption">勉強したことのまとめや、何かしらの問題が解決した際の備忘録を載せていくページです。</p>
        <div  class="page_link">
            <span><a href="subpages/convenient_sites.html">便利なサイト集</a></span>
        </div>
        <p class="caption">知っておけば何かしらと便利なサイトのリンクを載せていくページです。</p>
    </div>
</body>
</html>