<div>
    <span class="category_of_document">備忘録</span>
    <ul>
        <li>
            <span class="category_of_subdocument">フランス語</span>
        </li>
        <ul>
            <li>
                <span class="pdf_title">前置詞</span>
            </li>
        </ul>
    </ul>
    <ul>
        <li>
            <span class="category_of_subdocument">数学</span>
        </li>
        <ul>
            <li>
                <span class="pdf_title">代数幾何でよく使う随伴</span>
            </li>
            <p class="caption">
                アーベル圏からアーベル圏への関手を考えた場合、その関手が保存する情報&mdash;例えば右完全性と左完全性など&mdash;は、関手の随伴の有無によって判定できる場合がそこそこあります。
                このpdfでは、代数幾何でよく使う関手を随伴の観点から定義し、各関手が保存する情報を整理します。
            </p>
        </ul>
    </ul>
</div>