<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>ゼミのノート</title>
    </head>
    <body>
        <div id="main">
            <div class="back_to_top">
                <a href="index.html">←トップページに戻る</a>
            </div>
            <div class="page_title">
            <span>ゼミのノート</span>
            </div>
                <ul>
                    $for(categories)$
                    <li>
                        <span class="category">$category$</span>
                    </li>
                    <ul>
                        $for(documents)$
                        <li>
                            <span class="title"><a href="$link$" target="_blank" rel="noopener noreferrer">$title$</a></span>
                            <p class="description">$description$</p>
                        </li>
                        $endfor$
                    </ul>
                    $endfor$
                </ul>
            </div>
    </body>
</html>